* {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    background-color: #f3e5d8;
  }

  form {
    margin: 10px auto;
    padding: 20px;
    background-color: white;
    max-width: 850px;
    border-radius: 5px;
  }

  label {
    width: 100%;
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    padding: 10px;
    color: #7e4333;
    font-family: "DM Sans", sans-serif;
    font-size: medium;
    font-weight:bold ;
    font-style: normal;
  }

  input:not(input[type="radio"]) {
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(216, 206, 206);
    border: 0px;
  }
  textarea:not(textarea[type="radio"]) {
    width: 100%;
    height: 150px;
    padding: 5px;
    background-color: rgb(216, 206, 206);
    border-radius: 5px;
    border: 0px;
  }

  button[type="submit"]{
    border-radius: 5px;
    border: 0px;
    background-color: green;
    padding: 5px;
    width: 60px;
    margin-top: 10px;
  }


  p {
    margin: 5px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
  h1 {
    font-size: 40px;
    padding: 10px;
    color: #7e4333;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: bold;
  }
  h2 {
    font-size: 30px;
    padding: 10px;
    color: #7e4333;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  header a {
    color: white;
  text-decoration: none;
  }
  #cabecera {
    background-color: green;
    padding: 20px;
    border-radius: 10px;
  }

  footer {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding: 20px;
    margin: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  @media screen and (max-width: 769px) {
    form{
      margin: 20px;
    }
  }
