* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background-color: #f3e5d8;
  }

  p {
    margin: 5px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
  h1 {
    font-size: 40px;
    padding: 10px;
    color: #7e4333;
    font-family: "DM Serif Display", serif;
    font-weight: 750;
    font-style: bold;
  }
  h2 {
    font-size: 30px;
    padding: 10px;
    color: #7e4333;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }




  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  #grid {
    display: grid;
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "primero segundo tercero"
      "cuarto quinto"
  }



  header a {
    color: white;
  text-decoration: none;
  }

  #cabecera {
    background-color: green;
    padding: 20px;
    border-radius: 10px;
  }

  #fotoinicio img {
    height:200px;
    width: 100%;
    padding: 0 30px;
    border-radius: 5px;
    display: inline-block;
  }
  #fotoinicio h1{
    position: absolute;
    color: white;
    margin-top: 70px;
    margin-left: 50px;
  }

  a{
    text-decoration: none;
    color: black;
  }

  footer {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding: 20px;
    margin: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .recetas{
    background-color: white;
    padding: 10px;
    max-width: 70%;
    border-radius: 5px;
    margin: 20px;
    margin-left: 50px;
  }
  .recetas img{
    width: 100%;
    border-radius: 5px;
  }

  @media screen and (max-width: 769px) { 
    #grid{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .recetas{
      margin-left: 50px;
    }
  }

  @media screen and (max-width: 481px) { 
    #grid{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    .recetas{
      margin-left: 70px;
    }
  }
  